
  .tag{
    padding: 0.4em;
    padding-inline: 1em;
    margin-inline-end: 0.4em;
    background-color: #f4f4f4;
    color: #3c3b3b;
    border-radius: 0.6em;
    font-family: _font(family-heading);
    font-size: 0.65em;
  }

  .tag-box{
    margin: 0 0 (_size(element-margin) * 0.25) 0;
  }